@CHARSET "UTF-8";
/* Center demo link */
p.exe_style-demo-link {
	text-align: center;
}

/* List of styles 2 column grid */
body.archive .exe_style {
  width: 40%;
  height: auto;
  float: left;
  margin: 1em;
  padding: 1em;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  background: #fbfcfb;
  border-radius: 8px;
}
body.archive .exe_style .entry-summary.autoclear {
  margin: 0 auto;
  width: auto;
  float: none;
}
body.archive .exe_style .attachment-thumbnail {
  margin: 0 auto;
  width: auto;
  float: none;
}
body.archive .exe_style a.read-more {
  display: block;
  clear: both;
  float: none;
  margin: 0 auto;
  width: auto;
}