/*
Theme Name: eXeLearning.net
Theme URI: http://exelearning.net
Author: Ignacio Gros
Author URI: http://www.gros.es/
Description: Apariencia para El nuevo eXeLearning desarrollada para el INTEF.
Version: 1.0
License: CC BY-NC-SA
License URI: http://creativecommons.org/licenses/by-nc-sa/3.0/
Tags: institutional, exelearning, clean, white, gray, forums, bbpress, thememylogin
*/

body{font:100%/1.5 Arial,Verdana,Helvetica,sans-serif;padding:0;margin:0;color:#333;background:#fff}
#page{font-size:.82em;margin:0}
p{margin:1.5em 0}
p:empty{display:none}
a{color:#BB0000;text-decoration:none}
a:hover{text-decoration:underline}
a img{border:none}
ul{list-style-image:url(images/exelearning/lists/li.gif)}
ul ul{list-style-image:url(images/exelearning/lists/li_li.gif)}
.bb_reply_content ul,td.bbp-reply-content ul{list-style-image:url(images/exelearning/lists/li.gif) !important}
.bb_reply_content ul ul,td.bbp-reply-content ul ul{list-style-image:url(images/exelearning/lists/li_li.gif) !important}
.with-data h2,.with-data h1{margin-bottom:0}
h2{color:#666;font-size:1.3em}
/*h2 a{color:#5D7E1A}*/
h1{margin:.5em 0;font-size:1.6em;color:#555}
.read-more{white-space:nowrap}

code{display:block;background:#333;color:#E7ECF1;font-family:Monaco,Courier,monospace;border-radius:9px;font-size:12px;margin:2em;overflow:auto;padding:20px}

#header-wrapper{background:#ddd url(images/exelearning/header_bg.gif) repeat-x 0 bottom}
#logo a{display:block;background:url(images/exelearning/exelearning.gif) no-repeat 3px 18px;height:120px;width:120px}
#header{position:relative}
#header h1{margin:0}
#site-desc{margin:0;position:absolute;left:108px;top:30px;color:#555;font-style:italic}
#site-desc b{color:#5D7E1A}
#site-desc span{color:#5D7E1A;font-size:.65em}
#site-desc strong{display:block;font-size:1.9em;font-style:normal}

#lang-switcher{position:absolute;top:0;right:0;font-size:.9em}
#lang-switcher .current{color:#333;font-weight:bold}
#twitter-link{position:absolute;top:0;right:200px}
.js #twitter-link{right:0;top:100px}
#twitter-link *{vertical-align:middle;margin:0 5px}
.js #twitter-link a{display:none}
#user-login{position:absolute;top:25px;right:0;font-size:.9em}
#content-wrapper,#header,#footer{width:985px;margin:0 auto}
#content{background:#fff;margin:20px 0 0 0;position:relative}
#breadcrumbs{position:absolute;top:0;left:0;margin:0}
#breadcrumbs p{margin:0}

/*
#nav-single,#nav-above,#nav-below{margin-top:.5em;position:relative}
#nav-single .nav-next,#nav-above .nav-next,#nav-below .nav-next{position:absolute;right:0}
#nav-single a,#nav-above a,#nav-below a{color:#666}
*/

.serial-nav{margin:.5em 0}
.serial-nav a{color:#666}
.serial-nav .nav-previous{float:left}
.serial-nav .nav-next{float:right}

select,input,textarea{font-size:1em}
#searchform{position:absolute;right:0;top:75px}
#searchform select{border:1px solid #ccc;padding:1px}
#searchform input{border:1px solid #ccc;padding:2px}
#searchsubmit{background:#666;color:#fff;padding:0;font-size:.95em;border-radius:5px}

#nav ul{margin:0;padding:0}
#nav li{margin:0;padding:0;display:inline}
#nav a,#nav span{display:block;float:left;background:#666;padding:7px 20px;color:#fff;margin-left:15px;border-top-left-radius:5px;border-top-right-radius:5px}
#nav span{background:#999}
#nav .current a{background:#fff;color:#666}

#footer{border-top:1px solid #e4e4e4;color:#666;font-size:.95em;position:relative}
#footer p{/*position:absolute;top:0;right:0;*/font-size:.9em;text-align:right}
#footer strong{margin-right:.3em;font-weight:normal}
#footer .current{text-decoration:underline}
#footer .current:hover,#footer .current:focus{text-decoration:none}
#footer ul{margin:20px 0 15px 0;padding:0;vertical-align:text-top}
#footer li{margin:0 18px 0 0;padding:0;list-style:none;display:inline-block;vertical-align:middle}
#footer img{height:25px;width:auto}
#footer .carm img{height:37px;width:auto}
#footer .epa img{height:30px;width:auto}
#footer .op{margin-right:0}
#footer .op img{height:20px;width:auto}

#primary{float:left;width:685px;padding:2em 20px 0 0;border-right:1px solid #e4e4e4;margin-bottom:20px;height:auto !important;height:300px;min-height:300px}
#secondary{float:left;width:260px;padding-left:19px;margin-bottom:20px}
.bbPress #primary,.exe-news #primary,#primary.site-map{width:100%;padding-right:0;border:none}
.bbPress  #secondary,.exe-news #secondary{display:none}
.page-id-215 #rss-feeds,.page-id-217 #rss-feeds{display:none}
#secondary h2{font-size:1.3em;color:#000;margin:0 0 20px 0;border-bottom:1px solid #e4e4e4;padding-bottom:5px}
#secondary ul{margin:20px 0;padding:0}
#secondary li{margin:0 0 5px 0;padding:0;list-style:none}
#secondary li strong{margin-top:20px;display:block}
.wp-tag-cloud li{display:inline}
.wp-tag-cloud a{padding:2px 3px;border-radius:3px;white-space:nowrap}
#secondary .wp-tag-cloud a:hover,#secondary .wp-tag-cloud a:focus,#secondary .current-tag{background:#666;color:#fff}
#secondary .current-tag{text-decoration:none}
#secondary ul ul{margin:5px 20px}
#secondary .current-cat a{text-decoration:underline}
#secondary a:hover{color:#666}
table.bbp-forums,table.bbp-topics{border:1px solid #f3f3f3}
table.bbp-forums th,table.bbp-forums td,table.bbp-topics th,table.bbp-topics td{padding:1px 5px}
.bbp-attachments .bbp-atticon-exelearning{background:url(images/exelearning/icons/exe_attachment.gif) no-repeat 0 0}

.page-id-215 h1,.page-id-217 h1,#rss-feeds h2{background:url(images/exelearning/icons/rss.png) no-repeat 0 50%;padding-left:27px}
#rss-feeds ul{font-weight:bold}
#rss-feeds ul ul{font-weight:normal;margin-bottom:1.5em}
#rss-feeds ul ul ul{margin-bottom:0;font-size:.9em}
.twtr-hd{background:#666 url(images/exelearning/twitter/logo.png) no-repeat 10px 10px}
.twtr-profile-img-anchor img{visibility:hidden}
#rss-alternate{margin-top:0}

.js .js-scr-av,.scr-av, #logo span,.assistive-text,.js .tab h2{position:absolute;left:-9999em;overflow:hidden}
.scr-not-av,#content .bbp-breadcrumb{display:none}
#breadcrumbs .bbp-breadcrumb{display:block}
.bbp-user-page  #breadcrumbs{display:none}
.bbp-user-page #primary{padding-top:0}

.archive .post,.search-results .post{border-top:1px dotted #e4e4e4;margin-bottom:20px}
.archive .post:last-child,.search-results .post{margin-bottom:0}
.archive .wp-post-image{margin-top:4px}
.post-tags{font-size:.9em;color:#000}
/*.entry-meta .post-tags{font-size:1em;margin-left:20px}*/
.post-tags a{color:#666;padding:2px 3px;border-radius:3px}
.post-tags a:hover,.post-tags a:focus{background:#666;color:#fff}
.archive .post-tags{margin:.5em 0}

#tabs{width:100%;border-bottom:1px solid #eee;height:2.2em}
#tabs ul{margin:0;padding:0}
#tabs li{margin:0 1em 0 0;padding:0;display:inline}
#tabs a{border:2px solid #eee;border-bottom:none;padding:.35em 1em;font-size:.85em;
border-radius:10px;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
display:inline-block
}
#tabs .current-tab a{color:#000;border-bottom:3px solid #fff}
.tab h2{margin-top:1.5em;color:#000}
.js .tab{padding-top:.5em}

.home #primary{padding-top:0}
.home #col-a{width:260px;float:left;border-right:1px solid #E4E4E4;padding:5px 20px 0 0;color:#666}
.home #col-b{float:left;width:379px;margin-left:20px}
.home #col-a ul{margin:0;padding:0}
.home #col-a li{margin:0 0 20px;padding:0;list-style:none;font-size:.9em}
.home #col-a img{margin-bottom:5px}
.home #col-b .logo{text-align:center}

.single h1{color:#BB0000}
.single .entry-header{border-bottom:1px solid #e4e4e4}
.bbPress .entry-header{border-bottom:none}
.bbPress hr{border:1px solid #E4E4E4;border-width:1px 0 0 0}
.single .entry-header .post-tags{margin:.5em 0}
.single.js .entry-header .post-tags{text-align:right}
.entry-meta{font-size:.9em}
#add-this{margin-bottom:.5em}
.with-data .entry-meta  .addthis_toolbox{float:right}
.entry-video{text-align:center;margin:2em 0}
.single .entry-content iframe,.single .entry-content object{clear:both;display:block;margin:2em auto}
.bbPress .entry-content iframe,.bbPress .entry-content object{margin:auto}
.aligncenter,img.aligncenter,.wp-caption{clear:both;display:block;margin-left:auto;margin-right:auto}
.wp-caption{background:#f9f9f9;max-width:632px;padding:4px;border:1px solid #f0f0f0;border-radius:10px}
.wp-caption img{margin:5px 5px 0;background:#fff;padding:1px;border:1px solid #f0f0f0}
.wp-caption p.wp-caption-text{color:#888;font-size:.9em;margin:5px}

.entry-main-img{text-align:center;margin:2em 0}
.entry-main-img img{border:1px solid #e4e4e4;padding:1px}
.attachment-thumbnail {float:left;margin:0 20px 20px 0} /* the_post_thumbnail */
#attachments{margin:1.5em 0 0 0;padding:0}
#attachments li{list-style:none;margin:0 0 .5em 0;padding:0}
a[href $='.pdf'],.page-id-200 #tab2 a,.page-id-202 #tab2 a{background:url(images/exelearning/icons/pdf.gif) no-repeat 0 50%;padding-left:20px}
a[href $='.doc']{background:url(images/exelearning/icons/doc.gif) no-repeat 0 50%;padding-left:20px}
a[href $='.txt'],.page-id-200 #tab3 a,.page-id-202 #tab3 a{background:url(images/exelearning/icons/txt.gif) no-repeat 0 50%;padding-left:20px}
a[href $='.zip'],a.zip{background:url(images/exelearning/icons/zip.png) no-repeat 0 50%;padding-left:22px}

#theme-my-login{padding-top:0}
#theme-my-login p.message,#theme-my-login p.error{border-radius:5px;padding:5px 10px;margin-bottom:1.5em}
#theme-my-login p{margin:1em 0}
#theme-my-login label{font-weight:bold}
#theme-my-login p.submit{margin-top:1.5em}
#theme-my-login .submit input{background:#666;color:#fff;border:none;padding:5px 10px;border-radius:5px}
.tml-action-links{margin:2em 0 0 0;padding:0}
.tml-action-links li{margin:0 20px 0 0;padding:0;list-style:none;display:inline}
#theme-my-login h3{color:#000;border-bottom:1px solid #E4E4E4;padding-bottom:5px}

/* Contacto */
#contact form{margin-top:2em}
#contact  label span{display:block;width:9em;float:left;text-align:right;padding-right:1em}
#contact .formField{margin-bottom:1em}
#contact .formField b{color:#BB0000;font-size:1.3em;margin-left:3px}
#contact .formField input,#contact  textarea{border:1px solid #ccc;padding:.2em;width:20em;font-family:Arial,Verdana,Helvetica,sans-serif;font-size:1em}
#contact .textarea{margin:2em 0}
#contact  textarea{width:34em;overflow:auto}
#contact .textarea label{line-height:1.5em}
#contact .captcha{margin-left:10em}
#contact .captcha img{margin:0 0 .5em 0}
#contact .captcha .info{font-size:.85em}
#contact .formButtons{margin:2em 0 1em 10em}
#contact .formButtons input{background:#5D7E1A;border:none;padding:8px 20px;color:#fff;font-weight:bold;font-size:1em;border-radius:10px}
#submit-form{float:left}
#contact .formField .error{background:#fcc}
#errors{float:left;margin-left:20px;padding:8px 0}
#errors b{margin-right:3px}
#errors strong{margin-right:.2em}
.js #errors{background:#fcc;padding:7px 20px;border-radius:10px;color:#900}
.js #errors{display:none}

/* Site map */
.site-map dl{margin:1.5em 0 1.5em 1.5em}
.site-map dt{font-size:1.1em;font-weight:bold}
.site-map dd{margin:0 auto 1em auto}
.site-map ul{margin-top:.5em}
.site-map ul a{color:#666}
.site-map .lang{width:300px;float:left;margin-right:25px}

/* Downloads */
#primary.downloads-page ul{margin:2em;padding:0 0 0 150px;background:url(images/exelearning/downloads/os.jpg) no-repeat 20px 10px}
#primary.downloads-page ul ul{margin:.5em 0 1em 2em;line-height:2em;padding:0;background:none}
#primary.downloads-page ul strong{font-size:1.2em}
#primary.downloads-page li{margin:2em 0 0 0;padding:0;list-style:none}
#primary.downloads-page li li{margin-top:0}
#secondary.other-downloads{padding-bottom:135px;background:url(images/exelearning/downloads/other.png) no-repeat 55px bottom}
#primary.downloads-page .entry-content{position:relative}
.downloads-page .previous-versions{position:absolute;top:0;right:0;margin:0}

.rss-list li{margin-bottom:1em;font-weight:bold;font-size:1.1em}
.rss-list li li{margin-bottom:0;font-weight:normal;font-size:.95em}
.rss-list li li li{font-size:1em}
.rss-list ul{margin-top:.5em}
.rss-list ul ul{margin-top:0;margin-bottom:.5em}

.autoclear:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.autoclear {display: block}
/* Hides from IE-mac \*/
* html .autoclear {height: 1%}
.autoclear {display: block}
/* End hide from IE-mac */