@CHARSET "UTF-8";
.entry-meta div.exe-style {
  display: block;
  float: left;
  clear: both;
}
.entry-meta .exe-style span.label {
  width: 12em;
  display: inline-block;
  font-weight: bold;
  color: #666666;
}
.entry-meta .exe-style ul.value {
  padding: 0;
}
.entry-meta .exe-style ul.value {
	padding: 0;
}
.entry-meta .exe-style ul.value li {
  display: block;
  float: left;
  clear: none;
}
.entry-meta .exe-style.exe-style-tags ul.value li a,
.entry-meta .exe-style.exe-style-colours ul.value li a {
  border: 1px solid #cfcfcf;
  background: #fcfcfc;
  color: #666666;
  font-size: 0.9em;
  padding: 3px;
  border-radius: 3px;
}
.entry-meta .exe-style.exe-style-tags .label,
.entry-meta .exe-style.exe-style-colours .label {
	display: none;
}